#portal-header {
  background-color: #5b4531;
}

#portal-globalnav {
  background: #5b4531;
}
#portal-globalnav li a {
  font: bold 14px arial, STHeiti, pmingliu, sans-serif;
  color: #f9f4e1;
  background: #5b4531;
  padding: 0.5em 1em 1em 1em;
  border-top: 1px solid #5b4531;
  border-right: 0.1em solid #5b4531;
}
#portal-globalnav .selected a {
  background: #534a42;
}
#portal-globalnav a:hover,
#portal-globalnav .selected a:hover {
  color: #d43a32;
  background: #cecaca;
}

#portal-globalnav ul.submenu a.state-published {
  color: #f9f4e1 !important;
}
#portal-globalnav ul.submenu a.state-published:hover {
  color: #d43a32 !important;
}
#portal-globalnav ul.submenu li a {
  border-top: 1px solid #5b4531;
}
#portal-globalnav ul.submenu li a:hover {
  border-top: 1px solid #cecaca;
  border-right: 1px solid #cecaca;
}

.searchSection label:hover {
  color: White;
}

#portal-footer {
  background: #5b4531;
}
#portal-footer p,
#portal-footer a {
  color: White;
}
#portal-footer a:hover {
  color: #d8c0a8;
}
