#portal-top {
  background-color: #3e2306;
}

#portal-header {
  background: url('banner-header.png') center right no-repeat;
  width: 990px;
  margin: 0 auto;
}

#portal-logo {
  margin: 0;
}

#portal-globalnav {
  background: #3e2306;
}
#portal-globalnav li a {
  font: bold 14px "Open Sans", "微軟正黑體", sans-serif;
  color: #f9f4e1;
  background: #473322;
  padding: 0.7em 0.9em 0.7em 1em;
  border-top: 1px solid #5b4531;
  border-right: 0.1em solid #5b4531;
  letter-spacing: 0.1em;
  min-width: 5em;
}
#portal-globalnav .selected a {
  background: #67513d;
}
#portal-globalnav a:hover,
#portal-globalnav .selected a:hover {
  color: #d43a32;
  background: #cecaca;
}

#portal-globalnav ul.submenu a.state-published {
  color: #f9f4e1 !important;
}
#portal-globalnav ul.submenu a.state-published:hover {
  color: #d43a32 !important;
}
#portal-globalnav ul.submenu li a {
  border-top: 1px solid #5b4531;
}
#portal-globalnav ul.submenu li a:hover {
  border-top: 1px solid #cecaca;
  border-right: 1px solid #cecaca;
}

.searchSection label:hover {
  color: White;
}

#portal-columns {
  width: 960px;
  margin: 0 auto;
}

#portal-footer-wrapper,
#portal-footer {
  background: #5b4531;
}
#portal-siteactions,
#portal-footer,
#portal-colophon {
  width: 960px;
  margin: 0 auto;
}
#portal-footer p,
#portal-footer a,
#portal-siteactions a {
  color: White;
}
#portal-footer a:hover,
#portal-siteactions a:hover {
  color: #d8c0a8 !important;
}
